In [2]:
#Exp_3

In [3]:
#Aim: Creating the Dataframe

In [1]:
#Name:Govind R Khatile
#Roll no:77
#Sec:C
#Subject:PE-1

# Creating Series

In [1]:
import pandas as pd

In [3]:
Name=["Pratik","Govind","Shubham","Dev","Vedant"]

In [4]:
Name

['Pratik', 'Govind', 'Shubham', 'Dev', 'Vedant']

In [7]:
Roll_list=pd.Series(Name,index=[1,2,3,4,5])
print(Roll_list)

1     Pratik
2     Govind
3    Shubham
4        Dev
5     Vedant
dtype: object

# Creating a Data Frame

In [10]:
df=pd.DataFrame([[10,13,15,18],[17,16,19,12],[11,12,14,17]],
                columns= ["CD","DBMS","DSS","CAO"])

In [11]:
df

   CD  DBMS  DSS  CAO
0  10    13   15   18
1  17    16   19   12
2  11    12   14   17

In [12]:
df.shape

(3, 4)

In [13]:
df.size

12

In [14]:
df.ndim

2

# Adding Record (Row)to the Data Frame

In [31]:
df2=pd.DataFrame([[6,5,7,9]],
columns= ["CD","DBMS","DSS","CAO"])

In [35]:
df3 =pd.concat([df,df2,df3], ignore_index=True)

In [36]:
df3

   CD  DBMS  DSS  CAO
0   6     5    7    9
1   6     5    7    9
2   6     5    7    9
3   6     5    7    9

# Adding Attribute(Columns) to the Data Frame

In [39]:
df3["DM"]=[12,14,16,18]

In [40]:
df3

   CD  DBMS  DSS  CAO  DM
0   6     5    7    9  12
1   6     5    7    9  14
2   6     5    7    9  16
3   6     5    7    9  18

# Deleting Record from df3 dataframe

In [41]:
df4=df3.drop(index=[1])

In [42]:
df4

   CD  DBMS  DSS  CAO  DM
0   6     5    7    9  12
2   6     5    7    9  16
3   6     5    7    9  18

# Deleting Attribute (Columns) from df3 dataframe

In [43]:
df5=df3.drop(columns=["DM"])

In [44]:
df5

   CD  DBMS  DSS  CAO
0   6     5    7    9
1   6     5    7    9
2   6     5    7    9
3   6     5    7    9

In [45]:
print("Mean of DSS:",df5["DSS"].mean())

Mean of DSS: 7.0

In [46]:
print("Median of DSS:",df5["DSS"].median())

Median of DSS: 7.0

In [47]:
print("Mode of DSS:",df5["DSS"].mode())

Mode of DSS: 0    7
Name: DSS, dtype: int64